@page "/"

<div class="w-100">
    <div class="row text-center w-100">
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
        <div class="bg-light col m-5 p-5 noticia">
            <p class="text-center">NOVEDAD</p>
            <img src="https://www.chupetemania.com/8602-large_default/chupete-personalizado-corona.jpg" class="w-100" />
            <p>Nuevos chupeteros desde 20€</p>
        </div>
    </div>
</div>

      
                  

