@page "/pedidorealizado"

<div class="ocupar_altura">
    <div class="m-5 p-3 text-center div-tipo1">
        <p>Text descriptivo</p>
    </div>

    <div class="m-3 mt-5 p-3 text-center">
        <a href="seguir_pedido" class="text-dark"><button type="button" class="btn-tipo1 m-5 p-3">Seguimiento del Pedido</button></a>
        <a href="" class="text-dark"><button type="button" class="btn-tipo1 m-5 p-3">Página principal</button></a>
    </div>
</div>

