

    <nav class="navbar navbar-expand-lg navbar-light barra_navegacion">
        <a class="navbar-brand nav-item" href="" style="font-size:larger; text-decoration:solid;">Habibi´s Vault</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-5">
                    <a class="nav-link" href="contacta">Contacto</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="productos"> Productos</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="seguirpedido">Seguir Pedido</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>


